// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#admin-page {
  padding-top: 0px;
}

.nested-comment.media {
  margin-top: 45px;
}


.comment-reply {

  display: none;

}

.button.toggle-reply.btn.btn-primary.pull-right {
  margin-bottom: 10px;
}

